notes {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  background-color: rgba(128,128,128,0.5);
  text-color: black;
}

.slides.layout-own > article {
  /*page-break-after: always !important; */
  
  width: 80%;
  height: 800px;
  /*
  margin-left: -650px;
  margin-top: -400px;
  */
  margin-left: -40%;
  margin-top: -400px;
}

.slides.layout-own #prev-slide-area {
  margin-left: -750px;
}
.slides.layout-own #next-slide-area{
  margin-left: 400px;
}

/* Slide layout */
.slides.template-own article.biglogo {
  background: white url(../google/images/googleio-logo.png) 50% 50% no-repeat;

  background-size: 1200px;
}

.slides.template-own > article:not(.nobackground):not(.biglogo) {
  background: url(../images/line.png) 0 730px repeat-x, url(../images/line.png) 0 80px repeat-x,
              /*url(../images/TUMLogo_mZ_L_Vollflaeche_blau_RGB.png) 970px 745px no-repeat,*/url(../images/TUMLogo_mZ_L_Vollflaeche_blau_RGB.png) 96% 745px no-repeat,
              url(../images/IN_Web.png) 10px 730px no-repeat;

  background-size: 2px, 2px, 300px, 60px;  

  background-color: white;
}

/* Slide positions */
.slides.layout-own > article.far-past {/*2460px*/
  display: block;
  transform: translate(-240%);
  -o-transform: translate(-240%);
  -moz-transform: translate(-240%);
  -webkit-transform: translate3d(-240%, 0, 0);
}
.slides.layout-own > article.past {/*1530*/
  display: block;
  transform: translate(-110%);
  -o-transform: translate(-110%);
  -moz-transform: translate(-110%);
  -webkit-transform: translate3d(-110%, 0, 0);
}
.slides.layout-own > article.current {
  display: block;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
.slides.layout-own > article.next {
  display: block;
  transform: translate(110%);
  -o-transform: translate(110%);
  -moz-transform: translate(110%);
  -webkit-transform: translate3d(110%, 0, 0);
}
.slides.layout-own > article.far-next {
  display: block;
  transform: translate(240%);
  -o-transform: translate(240%);
  -moz-transform: translate(240%);
  -webkit-transform: translate3d(240%, 0, 0);
}
