notes {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 350px;
  background-color: rgba(128,128,128,0.5);
  color: black;
}

@page {
  size:landscape;
}

* {-webkit-print-color-adjust: exact;}

body {
  background: rgb(255, 255, 255);
}

.slides.layout-own > article {

  position: relative;
  margin-left: 00px;
  margin-top: 50px;
  
  width: 1300px;
  
  left: 0%;
  top: 0%;
  
  page-break-after: always !important; 
}

.slides.template-own > article:not(.nobackground):not(.biglogo) {
  background: url(../images/line.png) 0 730px repeat-x, url(../images/line.png) 0 80px repeat-x,
              url(../images/TUMLogo_mZ_L_Vollflaeche_blau_RGB.png) 970px 745px no-repeat,
              url(../images/IN_Web.png) 10px 730px no-repeat;

  background-size: 10px, 2px, 300px, 60px;  

  background-color: white;
}

/* Slide positions */
.slides.layout-own > article {
  display: block;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
.slides.layout-own > article.far-past {
  display: block;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
.slides.layout-own > article.past {
  display: block;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
.slides.layout-own > article.current {
  display: block;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
.slides.layout-own > article.next {
  display: block;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
.slides.layout-own > article.far-next {
  display: block;
  transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}
